# Ignore Visual Studio and VS Code settings
.vs/
.vscode/

# Ignore build folders
EliteHire360/bin/
EliteHire360/obj/
Entities/bin/
Entities/obj/

# Ignore user-specific files
*.user
*.userosscache
*.suo

# Ignore build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]uild/

# Ignore cache and temporary files
*.cache
*.log
*.tmp
*.pidb
*.svclog
*.scc

# Ignore generated configuration files
*.GeneratedMSBuildEditorConfig.editorconfig
*.AssemblyInfo.cs

# Ignore NuGet packages
*.nupkg
packages/
*.snupkg

# Ignore publish output
publish/
*.publish.xml
*.publishproj

# Ignore other unnecessary files
_ReSharper*/
*.DotSettings.user
